{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<h1>Modification profil</h1>
    <br>

    {{ form_start(form) }}
    {{ form_row(form.email) }}

    {{ form_row(form.firstname) }}

    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

{% endblock %}
