{% extends 'base.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block body %}

{# Récupération des données au format Json #}
<div id="map" data-coordo="{{ locationJson }}">
    
</div>

{% endblock %}
